.root {
  width: 280px;
  overflow: initial;
  position: relative;

  :global(.selected) & {
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border: 2px solid var(--mantine-primary-color-9);
      border-radius: var(--mantine-radius-md);
      z-index: 0;
    }
  }
}

.body {
  width: 100%;
  position: relative;
  overflow: initial;

  .start & {
    border-left: 4px solid var(--mantine-primary-color-9);
  }

  .end & {
    border-right: 4px solid var(--mantine-primary-color-9);
  }
}

.HandleContainer {
  position: relative;
}

.HandleElement {
  --handle-width: 18px;
  --handle-height: 18px;

  width: var(--handle-width);
  height: var(--handle-height);
  background: var(--mantine-primary-color-9);
  border-radius: 50%;

  &:hover {
    background-color: var(--mantine-primary-color-7);
  }
}

.HandleElementAlternative {
  background: var(--mantine-color-orange-9);

  &:hover {
    background-color: var(--mantine-color-orange-7);
  }
}

.BodyContainer {
  position: relative;
}

.BodyContainerContent {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-gray-1);
}
